html {
  background-image: url(../images/etchasketchboard.png);
  height: 800px;
  width: 1024px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid red;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#framecontainer {
  display: flex;
  height: 69vh;
  width: 98vh;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  flex-wrap: wrap;
}

.gridbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
border: 1px solid green;

/*